.cartWidg{
    background: rgb(148,65,149);
    background: radial-gradient(circle, rgba(148,65,149,1) 38%, rgba(226,201,203,1) 83%);
    text-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size:1.5em;
    margin: 3px 3px;
    display: flex;
  }
  .iconCart{
   margin-left: 13px;
  }
.titleDetail{
  text-align: center;
}

.divDOS{
    text-align: end;
    font-size: 0.7em;
    margin-bottom: 1px;
}

.cartWidg .divDOS span {
    margin-left: 2px;
    text-decoration: none !important;
    display: inline-block;
  }
  
  
  /* CartList.css */

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Espacio superior entre la tabla y otros elementos */
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cart-table th {
  background-color: black
}

.delete-column {
  width: 150px;
  text-align: center; 
}

.cartVacio{
  text-align: center;
  font-style: italic;
  color: #666; 
  padding: 8px;
}

.cartVacio .Link{
  text-decoration: none;
  color: violet;
}

.onDecrement{
  width: 30px;
  background-color: red;
}

.onIncrement{
  width: 30px;
  background-color: green;
}

.onDelete{
  width: 40px;
}


.finishbuy{
  width: 150px;
  height: 50px;
  background: rgb(136,72,181);
  background: linear-gradient(0deg, rgba(136,72,181,1) 18%, rgba(61,95,171,1) 100%);
}