.form{
   text-align: center;
   background-color: black;
}
.form label{
    margin-top: 6px;
}

.buttonConfirm{
    width: 150px;
    height: 40px;
    margin: 10px 10px;
    background: rgb(136,72,181);
    background: linear-gradient(0deg, rgba(136,72,181,1) 18%, rgba(61,95,171,1) 100%);
}
.orderNumber{
    background-color: black;
    text-align: center;
}
